/* colors */
$dark-color: #212529;
$light-grey-color: #c2c0c0;
$grey-color: #808080;
$focus-color: blue;
$placeholder-color: #aba5a0;
/* btn-colors */
$btn-primary: #4CAF50;
$btn-primary-hover: #3e9942;
$btn-secondary: #6c757d;
$btn-secondary-hover: #50565b;
$btn-empty: #ededed;
$btn-empty-hover: #d4cfcf;
/* other */
$default-transition: .3s;
$app-max-width: 1250px;
$app-padding-small-devices: 0.4rem 0.2rem;